.FriendsAll{
    /* background-color: rgb(243,243,243); */
} 
.friend{
    margin-bottom: 10px;
    display: flex;
    gap:10px;
    border-bottom: 1px solid black;
    justify-content: space-between;
     
    
}

.friendLeft{
    display: flex;
    text-align: center;
}
 .profileName  {
    margin-top: 7px;
    margin-left: 10px;
 }

.friend .followCheck .FollowButton{
    margin-top:2px;
 }

