.Profile{
    margin-left: 30%;
    margin-top: 40px;
    
}
.topBar{
    display: flex;
    margin-bottom: 40px;
  
  
     /* justify-content: center; */
    
}
.components{
    
    display: flex;
    gap:20px;
    font-size: larger;
}

.profilePic{
    width: 150px;
    display: block;
}
.profileDetails{
    display: flex;
    gap:25px;
     margin-top: 30px;
    
      
}
 
.profileDetails .name{
    font-family: 'Fira Sans', sans-serif;
    font-size: medium;
}
 