.Profile{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    
    
}
.changeBackground{
    height: 94vh;
}
@media (max-width:1030px){
    .Profile{
        margin-left: auto;
        margin-top: 82px;
        margin-right: auto;
        
    }

}
@media (max-width:500px){
     .posts .postsComponent{
        width: 342px;
        margin-left: auto;
        margin-right: auto;
        
    }
    
}

 
.topBar{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
   
    
}
.components{
    margin-bottom: 20px;
    display: flex;
    gap:70px;
    font-size: larger;
    justify-content: center;
}

.profilePic{
    width: 150px;
    display: block;
    text-align: center;
}
.topBar .profileDetails{
    display: flex;
    gap:25px;
    margin-top: 35px;
    
      
}
 
.profileDetails .name{
    font-family: 'Fira Sans', sans-serif;
    font-size: medium;
}
 
#posts-click,#followers-click,#following-click{
    cursor: pointer;
}
 
.borderBottom{
    border-bottom: 3px solid black;

}

.profilePic .UserName{
    font-family: 'Fira Sans', sans-serif;
    display:block;
    font-weight: 900;
     
}
.profilePic .UserId{
    font-family: 'Fira Sans', sans-serif;
   
}

 